spring:
  application:
    name: transaction-service

  datasource:
    url: jdbc:postgresql://localhost:5432/payment
    username: payment
    password: payment
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  cloud:
    stream:
      defaultBinder: kafka
      bindings:
        transactionCreated-out-0:
          destination: payments.transaction.v1
          content-type: application/json
      kafka:
        binder:
          brokers: localhost:9092

server:
  port: 8081